@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,600&family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fraunces', serif;
  font-size: 18px;
}
header {
  background-image: url(./assets/desktop/image-header.jpg);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  & h1 {
    font-family: 'Fraunces', serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 8rem;
  }
  & span {
    display: flex;
    width: 100%;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
    position: relative;
    & img {
      animation: life 2s infinite;
    }
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & ul {
    display: flex;
    align-items: center;
    list-style: none;
    & li {
      margin: 0 1rem;
    }
  }
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.transform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h1 {
    padding: 1rem 4rem;
    font-size: 2.2rem;
    font-weight: 900;
    color: hsl(213, 27%, 19%);
  }
  & p {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(213, 9%, 39%);
    text-align: left;
    padding: 1rem 4rem;
  }
}

.ctn {
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.eggs {
  background-image: url(./assets/desktop/image-transform.jpg);
}
.stand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & h1 {
    padding: 1rem 4rem;
    font-size: 2.2rem;
    font-weight: 900;
    color: hsl(213, 27%, 19%);
  }
  & p {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: hsl(213, 9%, 39%);
    text-align: left;
    padding: 1rem 4rem;
  }
}

.cup {
  background-image: url(./assets/desktop/image-stand-out.jpg);
}
.graphic {
  background-image: url(./assets/desktop/image-graphic-design.jpg);
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  color: hsl(167, 40%, 24%);
  padding: 1rem 3rem;
  text-align: center;
  & h1 {
    margin: 1rem 0;
    font-weight: 900;
  }
  & p {
    font-family: 'Barlow', sans-serif;
    padding: 1rem 0;
    line-height: 1.5;
  }
}
.photography {
  background-image: url(./assets/desktop/image-photography.jpg);
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  color: hsl(198, 62%, 26%);
  padding: 1rem 3rem;
  text-align: center;
  & h1 {
    margin: 1rem 0;
    font-weight: 900;
  }
  & p {
    font-family: 'Barlow', sans-serif;
    padding: 1rem 0rem;
    line-height: 1.5;
  }
}

@keyframes life {
  0% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(12px);
  }
}
